input:focus{
    outline: none;
}

div.sortbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    color:  white;
    background-color: #737373;
    border-radius: 7px;
    padding: 35px 0 50px;
    width: 500px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.sortbox > form > p{
    margin-bottom: 5px;
    margin-left: 5px;
}

.sortbox input[type=text], .sortbox input[type=date] {
    border-style: solid;
    border-color: #262626;
    border-width: 0.4px;
    height: 35px;
    width: 300px;
    padding-left: 7px;
    border-radius: 7px;
}

.sortbox input[type=submit]{
    color: white;
    background-color: #262626;
    margin-top: 40px;
    border-style: solid;
    border-color: #262626;
    height: 40px;
    width: 310px;
    border-radius: 7px;
}

.sortbox input[type=submit]:hover{
    background-color: #ac0000;
    border-color: #ac0000;
}

h3{
    text-align: center;
    font-size: 30px;
    color: darkgreen;
}